body {
    background-color: black;
    background-image: url(background.jpg);
    font-family: Ubuntu, Arial;
    margin: 0em;
    min-height: 100%;
    padding: 1em;
}

h1, h2, h3, p, a, ol, ul, li, code {
    color: #dddddd;
    font-weight: 400;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2.1em;
}

h3 {
    font-size: 1.5em;
}

p, a, li {
    font-size: 1.1em;
    margin-bottom: 0.4em;
}

a {
    color: #aaaaaa;
    text-decoration: underline;
}

code {
    font-family: monospace;
}

.column {
    width: 50%;
}

.vsp {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5em;
}
